.footer {
    width: 100vw;
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-div {
    width: 80%;
}

.footer-upper-div {
    height: 371px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-upper-left {
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo {
    width: 268px;
}

.store-logos {
    display: flex;
    align-items: start;
    justify-content: start;
}

.AppStore-div {
    width: 178px;
    background-color: #000000;
    border-radius: 10px;
    border: 0.2px solid #A6A6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    height: 53px;
    cursor: pointer;
}

.PlayStore-div {
    width: 178px;
    background-color: #000000;
    border-radius: 10px;
    border: 0.2px solid #A6A6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    cursor: pointer;
}

.appstore-logo-img {
    width: 146.27px;
}

.playstore-logo-img {
    width: 160px;
}

.footer-upperleft-details {
    display: flex;
    width: 311px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.footer-upper-right {
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
}

.footer-right-blockI {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-mail-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
}

.footer-mail-div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 480px;
    height: 59px;
    border-radius: 120px;
    overflow: hidden;
    background-color: #D9D9D9;
}

.footer-mail-input {
    width: 381px;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.footer-mail-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 171px;
    height: 100%;
    background: #FC8A06;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 120px;
}

.footer-mail-info {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 20px;
}

.email-policy {
    text-decoration: underline;
    cursor: pointer;
}

.footer-social-div {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.footer-social-icons {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.footer-right-blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-head {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    text-wrap: nowrap;
}

.right-pages-name {
    text-wrap: nowrap;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    text-decoration-line: underline;
    cursor: pointer;
}

.footer-lower-div {
    height: 73px;
    background-color: #03081F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.footer-lower-inner-div {
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: white;
}

.copyright-text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 2px;
}

.footer-lower-right-div {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
}

.footer-lower-links{
    cursor: pointer;
}


@media screen and (max-width:1250px) {
    .footer-upper-left{
        flex-direction: column;
    }
    .footer-upper-div{
        flex-direction: column;
            height: 100%;
    }
    .footer-upperleft-details{
        width: 100%;
        font: 15px;
        text-align: center;
    }
    .footer-mail-div{
        width: 374px;
    }
    .footer-upper-left{
        align-items: center;
    }
    .footer-right-blockI {
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    .footer-right-blocks {
        width: 90%;
        align-items: center;
    }
    .footer-div{
        width: 95%;
    }
    .footer-mail-input{
        width: 200px;
    }
    .footer-mail-btn{
        width: 170px;
    }
    .footer-upper-left {
        padding-right: 0;}
    .footer-div{
        height: 100%;
        padding: 20px 0px;
    }
    .footer-upper-right{
        flex-direction: column;
        height: 100%;
    }
    .footer-lower-div{
        height: 100%;
    }
    .footer-lower-inner-div{
        flex-direction: column;
        margin-top: 10px;
    }
    .footer-lower-right-div{
        flex-direction: column;
        padding: 10px 0px;
        margin-top: 10px;
    }
    .footer-right-blocks{
        margin-top: 10px;
    }
}